<a href="https://colab.research.google.com/github/maadhuvijay/neural-network-challenge2/blob/main/Copy_of_attrition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Part 1: Preprocessing

In [110]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [111]:
# Determine the number of unique values in each column
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [112]:
# Create y_df with the Attrition and Department columns
y_df=attrition_df[['Attrition','Department']]

In [113]:
# Create a list of at least 10 column names to use as X data
column_names = ["Age","Education","HourlyRate","JobInvolvement","JobSatisfaction","PercentSalaryHike","PerformanceRating","WorkLifeBalance","YearsSinceLastPromotion","YearsWithCurrManager"]

# Create X_df using your selected columns
X_df=attrition_df[column_names]

# Show the data types for X_df
X_df.dtypes

Age                        int64
Education                  int64
HourlyRate                 int64
JobInvolvement             int64
JobSatisfaction            int64
PercentSalaryHike          int64
PerformanceRating          int64
WorkLifeBalance            int64
YearsSinceLastPromotion    int64
YearsWithCurrManager       int64
dtype: object

In [114]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_df,y_df,random_state=42)

In [115]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
X_df.value_counts()

Age  Education  HourlyRate  JobInvolvement  JobSatisfaction  PercentSalaryHike  PerformanceRating  WorkLifeBalance  YearsSinceLastPromotion  YearsWithCurrManager
18   1          80          3               3                12                 3                  3                0                        0                       1
40   4          51          2               3                14                 3                  3                0                        0                       1
                46          4               3                13                 3                  3                1                        7                       1
                35          3               2                14                 3                  3                0                        0                       1
     3          100         4               2                16                 3                  2                0                        0                       1
                                                                                                                                                                    ..
32   3          80          1               3                13                 3                  1                0                        2                       1
                78          3               1                14                 3                  3                1                        2                       1
                77          2               2                20                 4                  3                2                        2                       1
                75          3               2                13                 3                  3                0                        7                       1
60   4          92          1               4                20                 4                  4                0                        0                       1
Name: count, Length: 1470, dtype: int64

In [116]:
# y_df Attrition  value counts
y_df['Attrition'].value_counts()

Attrition
No     1233
Yes     237
Name: count, dtype: int64

In [117]:
# y_df department value counts
y_df['Department'].value_counts()

Department
Research & Development    961
Sales                     446
Human Resources            63
Name: count, dtype: int64

In [118]:
# Create a StandardScaler
scaler=StandardScaler()

# Fit the StandardScaler to the training data
scaler.fit(X_train)

# Scale the training and testing data
X_train_scaled=scaler.transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [119]:
from sklearn.preprocessing import OneHotEncoder

# Create a OneHotEncoder for the Department column
dept_encoder=OneHotEncoder(sparse_output=False)

# Fit the encoder to the training data
dept_encoded=dept_encoder.fit(y_train[['Department']])

# Create two new variables by applying the encoder
# to the training and testing data
y_train_dept_encode=dept_encoded.transform(y_train[['Department']])
y_test_dept_encode= dept_encoded.transform(y_test[['Department']])

In [120]:
# Create a OneHotEncoder for the Attrition column
attrition_encoder=OneHotEncoder(sparse_output=False)

# Fit the encoder to the training data
attrition_encoded=attrition_encoder.fit(y_train[['Attrition']])

# Create two new variables by applying the encoder
# to the training and testing data

y_train_attrition_encode=attrition_encoded.transform(y_train[['Attrition']])
y_test_attrition_encode=attrition_encoded.transform(y_test[['Attrition']])

## Part 2: Create, Compile, and Train the Model

In [121]:
# Find the number of columns in the X training data.


print(X_train_scaled.shape)

# Create the input layer
input_layer=layers.Input(shape=(X_train_scaled.shape[1],),name='input_features')

# Create at least two shared layers
shared_layer1 = layers.Dense(64, activation='relu',name='shared_layer1')(input_layer)
shared_layer2 = layers.Dense(32, activation='relu',name='shared_layer2')(shared_layer1)

(1102, 10)

In [122]:
# Create a branch for Department
# with a hidden layer and an output layer
# Create the hidden layer

dept_hidden=layers.Dense(16,activation='relu',name='dept_hidden')(shared_layer2)

# Create the output layer
print(y_train_dept_encode.shape)
dept_output=layers.Dense(3,activation='softmax',name = 'dept_output')(dept_hidden)

(1102, 3)

In [123]:
# Create a branch for Attrition
# with a hidden layer and an output layer
# Create the hidden layer

attrition_hidden=layers.Dense(16,activation='relu',name='attrition_hidden')(shared_layer2)

# Create the output layer
print(y_train_attrition_encode.shape)
attrition_output=layers.Dense(2,activation='sigmoid',name='attrition_output')(attrition_hidden)

(1102, 2)

In [124]:
# Create the model
model = Model(inputs=input_layer, outputs={'dept_output': dept_output, 'attrition_output': attrition_output})

# Compile the model
model.compile(optimizer='adam',
              loss={'dept_output': 'categorical_crossentropy', 'attrition_output': 'binary_crossentropy'},
              metrics={'dept_output': 'accuracy', 'attrition_output': 'accuracy'})


# Summarize the model
model.summary()

Model: "functional_22"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)              ┃ Output Shape           ┃        Param # ┃ Connected to           ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━┩
│ input_features            │ (None, 10)             │              0 │ -                      │
│ (InputLayer)              │                        │                │                        │
├───────────────────────────┼────────────────────────┼────────────────┼────────────────────────┤
│ shared_layer1 (Dense)     │ (None, 64)             │            704 │ input_features[0][0]   │
├───────────────────────────┼────────────────────────┼────────────────┼────────────────────────┤
│ shared_layer2 (Dense)     │ (None, 32)             │          2,080 │ shared_layer1[0][0]    │
├───────────────────────────┼────────────────────────┼────────────────┼────────────────────────┤
│ attrition_hidden (Dense)  │ (None, 16)             │            528 │ shared_layer2[0][0]    │
├───────────────────────────┼────────────────────────┼────────────────┼────────────────────────┤
│ dept_hidden (Dense)       │ (None, 16)             │            528 │ shared_layer2[0][0]    │
├───────────────────────────┼────────────────────────┼────────────────┼────────────────────────┤
│ attrition_output (Dense)  │ (None, 2)              │             34 │ attrition_hidden[0][0] │
├───────────────────────────┼────────────────────────┼────────────────┼────────────────────────┤
│ dept_output (Dense)       │ (None, 3)              │             51 │ dept_hidden[0][0]      │
└───────────────────────────┴────────────────────────┴────────────────┴────────────────────────┘

 Total params: 3,925 (15.33 KB)

 Trainable params: 3,925 (15.33 KB)

 Non-trainable params: 0 (0.00 B)

In [125]:
X_train_scaled.dtype

dtype('float64')

In [126]:
# Train the model
model.fit(
    X_train_scaled,
    {'dept_output': y_train_dept_encode, 'attrition_output': y_train_attrition_encode},
    epochs=10,
    batch_size=32,
    validation_split=0.2
)

Epoch 1/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 3s 25ms/step - attrition_output_accuracy: 0.6183 - attrition_output_loss: 0.6631 - dept_output_accuracy: 0.6215 - dept_output_loss: 0.9428 - loss: 1.6059 - val_attrition_output_accuracy: 0.7873 - val_attrition_output_loss: 0.5675 - val_dept_output_accuracy: 0.6063 - val_dept_output_loss: 0.8755 - val_loss: 1.4445
Epoch 2/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - attrition_output_accuracy: 0.8447 - attrition_output_loss: 0.4989 - dept_output_accuracy: 0.6535 - dept_output_loss: 0.8217 - loss: 1.3209 - val_attrition_output_accuracy: 0.7873 - val_attrition_output_loss: 0.5333 - val_dept_output_accuracy: 0.6018 - val_dept_output_loss: 0.8216 - val_loss: 1.3567
Epoch 3/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - attrition_output_accuracy: 0.8237 - attrition_output_loss: 0.4765 - dept_output_accuracy: 0.6671 - dept_output_loss: 0.7540 - loss: 1.2306 - val_attrition_output_accuracy: 0.7873 - val_attrition_output_loss: 0.5257 - val_dept_output_accuracy: 0.6063 - val_dept_output_loss: 0.8201 - val_loss: 1.3481
Epoch 4/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - attrition_output_accuracy: 0.8311 - attrition_output_loss: 0.4609 - dept_output_accuracy: 0.6642 - dept_output_loss: 0.7669 - loss: 1.2281 - val_attrition_output_accuracy: 0.7873 - val_attrition_output_loss: 0.5137 - val_dept_output_accuracy: 0.6109 - val_dept_output_loss: 0.8158 - val_loss: 1.3318
Epoch 5/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 1s 17ms/step - attrition_output_accuracy: 0.8451 - attrition_output_loss: 0.4235 - dept_output_accuracy: 0.6529 - dept_output_loss: 0.7615 - loss: 1.1855 - val_attrition_output_accuracy: 0.7873 - val_attrition_output_loss: 0.5047 - val_dept_output_accuracy: 0.6063 - val_dept_output_loss: 0.8196 - val_loss: 1.3268
Epoch 6/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - attrition_output_accuracy: 0.8383 - attrition_output_loss: 0.4317 - dept_output_accuracy: 0.6788 - dept_output_loss: 0.7050 - loss: 1.1361 - val_attrition_output_accuracy: 0.7873 - val_attrition_output_loss: 0.5028 - val_dept_output_accuracy: 0.6109 - val_dept_output_loss: 0.8136 - val_loss: 1.3186
Epoch 7/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - attrition_output_accuracy: 0.8517 - attrition_output_loss: 0.3984 - dept_output_accuracy: 0.6747 - dept_output_loss: 0.7323 - loss: 1.1303 - val_attrition_output_accuracy: 0.7873 - val_attrition_output_loss: 0.4947 - val_dept_output_accuracy: 0.6063 - val_dept_output_loss: 0.8214 - val_loss: 1.3187
Epoch 8/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - attrition_output_accuracy: 0.8402 - attrition_output_loss: 0.4062 - dept_output_accuracy: 0.6536 - dept_output_loss: 0.7321 - loss: 1.1386 - val_attrition_output_accuracy: 0.7873 - val_attrition_output_loss: 0.4927 - val_dept_output_accuracy: 0.6018 - val_dept_output_loss: 0.8183 - val_loss: 1.3132
Epoch 9/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - attrition_output_accuracy: 0.8467 - attrition_output_loss: 0.3957 - dept_output_accuracy: 0.6815 - dept_output_loss: 0.7119 - loss: 1.1078 - val_attrition_output_accuracy: 0.7828 - val_attrition_output_loss: 0.4910 - val_dept_output_accuracy: 0.6063 - val_dept_output_loss: 0.8157 - val_loss: 1.3090
Epoch 10/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - attrition_output_accuracy: 0.8345 - attrition_output_loss: 0.4178 - dept_output_accuracy: 0.6796 - dept_output_loss: 0.7272 - loss: 1.1450 - val_attrition_output_accuracy: 0.7873 - val_attrition_output_loss: 0.4923 - val_dept_output_accuracy: 0.6018 - val_dept_output_loss: 0.8262 - val_loss: 1.3209

In [127]:
# Evaluate the model with the testing data
test_results = model.evaluate(X_test_scaled, {'dept_output': y_test_dept_encode, 'attrition_output': y_test_attrition_encode})
test_results

12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - attrition_output_accuracy: 0.8483 - attrition_output_loss: 0.4009 - dept_output_accuracy: 0.6477 - dept_output_loss: 0.8166 - loss: 1.2148

[1.1837393045425415,
 0.8209407925605774,
 0.38037028908729553,
 0.866847813129425,
 0.6521739363670349]

In [128]:
# Print the accuracy for both department and attrition
print(f"Department predictions Accuracy: {test_results[3]}")
print(f"Attrition predicitons Accuracy: {test_results[4]}")

Department predictions Accuracy: 0.866847813129425
Attrition predicitons Accuracy: 0.6521739363670349

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. Accuracy might be the best metric if the feature values are balanced. Here the attrition and department features are not balanced sets. So, "Accuracy" might not be the best metric.
2. I used 'Softmax' activation function for department output layer as it is a categorical classification column and used sigmoid activation for attrition column as it is a binary column.
3.Ways to improve the model performance:
    Use class weighting,
    Experiment with different loss functions,
    Hyperparameter tuning.